@import '../sass/variables';

.home {
  background: radial-gradient(ellipse at center, #41465a 0%, #1f2127 100%);
  height: 100vh;
  padding-top: $header-height;
  &__title {
    font-weight: bold;
    color: #fff;
    font-size: 2.9rem;
    margin-bottom: $headings-margin-bottom;
  }
  &__descr {
    color: #fff;
    font-size: 1.1rem;
  }
}

#js-home-particles {
  canvas {
    height: calc(100% - 76px) !important;
    position: absolute;
    z-index: 20;
  }
}
