{% block home %}
<section class="section home" id="home">
    <div id="js-home-particles"></div>
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-between">
            <div class="col-lg-6">
                <h1 class="home__title">JOIN THE MOST OPEN FACE-TO-FACE IGAMING PLATFORM EVER!</h1>
                <p class="home__descr">
                    The DICEGAME platform allows to tackle the most prominent problems with the current iGaming industry by providing the fair
                    way to have up to 50% of winning odds in face-to-face games without any special skills required
                </p>
            </div>
            <div class="col-lg-5">
                {% include "countdown/countdown.html" %}
            </div>
        </div>
    </div>
</section>
{% endblock %}