@import "../sass/variables";

.countdown {
  position: relative;
  z-index: 50;
  &__body {
    border-radius: 5px;
    background: #212430;
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.5);
    padding: 30px;
  }

  &__header {
    color: #fff;
    font-weight: bold;
    font-size: 1.6rem;
    @include media-breakpoint-down(md) {
      font-size: 1.3rem;
    }
  }

  &__descr {
    color: #fff;
  }

  &__form {
    display: flex;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  &__input {
    width: 100%;
    color: #fff;
    background-color: #373b4c;
    border: 0;
    border-right: 0;
    padding: 15px;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    &::placeholder {
      font-weight: normal;
      color: #fff;
    }
  }

  &__links {
    padding: 10px 0;
    border-top: 1px solid #181a23;
    border-bottom: 1px solid #181a23;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }

  &__link {
    display: inline-block;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
    transition: $transition-base;
    &:hover {
      color: #fff;
      text-decoration: none;
      opacity: 1;
    }
  }

  &__social {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
  }

  &__social-link {
    margin: 0 8px;
    img {
      transition: $transition-base;
      transform: translateZ(0);
      opacity: 0.6;
      height: 20px;
      max-width: 20px;
      max-height: 20px;
    }

    &:hover {
      text-decoration: none;
      img {
        opacity: 1;
      }
    }
  }
}

// Countdown timer

.countdown__timer {
  margin-bottom: 1.5rem;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    opacity: 0.8;
  }
}

.countdown__timer-item {
  color: #fff;
  span {
    opacity: 1;
    font-weight: bold;
    text-align: center;
    display: block;
    font-size: 2.5rem;
  }
}
