<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic metas -->
    <title>DICEGAME — Join the most open face-to-face igaming platform ever!</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts & favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#20445e">
    <meta name="theme-color" content="#ffffff">

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <base target="_blank">
</head>

<body>
    <!-- Header -->
    {% include "../blocks/header/header.html" %}
    <main class="main">
        <!-- Home -->
        {% include "../blocks/home/home.html" %}
        <!-- Dicegame Platform -->
        {% include "../blocks/platform/platform.html" %}
        <span class="line line--square"></span>
    </main>
    <!-- Footer -->
    {% include "../blocks/footer/footer.html" %}
    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="js/particles.min.js"></script>
    <script src="js/common.js"></script>
</body>

</html>