<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic metas -->
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Fonts & favicons -->
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <base target="_blank">
</head>

<body>
    <!-- Header -->
    {% include "../blocks/header/header.html" %}
    <main class="main">
        <!-- Home -->
        {% include "../blocks/home/home.html" %}
        <!-- Dicegame Platform -->
        {% include "../blocks/platform/platform.html" %}
    </main>
    <!-- Footer -->
    {% include "../blocks/footer/footer.html" %}
    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="js/particles.min.js"></script>
    <script src="js/common.js"></script>
</body>

</html>